
@media screen and (min-width: 501px) {
    .user {
        border:2px gray solid !important;
        padding: 5px;
        border-radius: 5px;
        margin-left: 10%;
        display:flex;
        flex-wrap: wrap;
     flex-direction: row;
     width:70%;
     justify-content: space-evenly;
     margin-top:40px;
     max-height: 80vh;
     
     
    }
    .scroll{
        overflow-y:scroll !important;
        max-height: 75vh !important;
        
    }
    .item
    {
        width:400px;
    }
  }
  @media screen and (max-width: 500px) {
    .user {
        border:2px gray solid !important;
        border-radius: 5px;
        padding: 5px;
        display:flex;
     flex-direction: column;
     margin-top:40px;
    }
    .item
    {
        width:95%;
        align-self: stretch;
    }
  }